<!DOCTYPE html>
<html>
  <ul>
    <li><%= link_to "Login", :class => 'navbar-link' %></li>
    <li><%= link_to "Sign up", :class => 'navbar-link' %></li>
  </ul>
  <h1>
    <%= yield %>
  </h1>
</html>
